{% extends 'base.html' %}

{% block title %}Объявление{% endblock %}

{% block body %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/accommodation.css') }}">

<div class="container">
    <h2>{{ accommodation.name }}</h2>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <style>
        .swiper {
            width: 600px;
            height: 400px;
            margin: auto;
        }
        .swiper-slide {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f7f7f7;
            border-radius: 12px;
            overflow: hidden;
        }
        .swiper-slide img {
            width: 100%;
            height: auto;
            border-radius: 12px;
        }
    </style>
    <div class="swiper">
        <div class="swiper-wrapper">
            {% for image in images %}
            <div class="swiper-slide">
                <img src="{{ url_for('static', filename=image) }}" alt="Фото">
            </div>
            {% endfor %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper('.swiper', {
            loop: true,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });
    </script>
    <div class="info-item"><span class="label">Адрес:</span> <span class="value">{{ accommodation.address }}</span></div>
    <div class="info-item"><span class="label">Цена:</span> <span class="value">{{ accommodation.cost }}</span></div>
    <div class="info-item"><span class="label">Описание:</span> <span class="value">{{ accommodation.description }}</span></div>
    <div class="info-item"><span class="label">Дата подачи объявления:</span> <span class="value">{{ date }}</span></div>
    <div class="info-item"><span class="label">Рейтинг:</span> <span class="stars">{{ rating }}</span></div>
    <div class="info-item"><span class="label">Владелец:</span> <span class="value"><a href="/user_profile/{{ accommodation.owner.id }}">Профиль владельца</a></span></div>
    {% if number %}
    <div class="info-item"><span class="label">Связаться с владельцем:</span> <span class="value">{{ accommodation.owner.phone_number }} / {{ accommodation.owner.email }}</span></div>
    {% else %}
    <div class="info-item"><span class="label">Связаться с владельцем:</span> <span class="value">{{ accommodation.owner.email }}</span></div>
    {% endif %}
</div>
{% endblock %}
