{% extends 'base.html' %}

{% block title%}
Главная страница
{% endblock %}

{% block body%}
<h1 xmlns="http://www.w3.org/1999/html"><center>Объявление</center></h1>
<div class="container">
    <form action="" method="post" novalidate enctype="multipart/form-data">
        {{ form.csrf_token }}
        {% for field in form if field.name != 'csrf_token' and field.name != 'submit' and field.name != 'photo'%}
            <div>{{ field.label }}</div>
            {{ field(type=field.name, class="form-control") }}
            <br>
        {% endfor %}
        <div class="form-group">
            {{ form.photo.label }}
            <br>
            {{ form.photo(class="form-control-file") }} <p>Загрузите все фото сразу</p>
        </div>
        <br>
        {{ form.submit(class="btn btn-success") }}

    </form>
</div>
{% endblock %}