{% extends 'base.html' %}

{% block title %}Объявление{% endblock %}

{% block body %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/accommodation.css') }}">

<div class="container">
    <h2>{{ accommodation.name }}</h2>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <div class="swiper">
        <div class="swiper-wrapper">
            {% for image in images %}
            <div class="swiper-slide">
                <img src="{{ url_for('static', filename=image) }}" alt="Фото">
            </div>
            {% endfor %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper('.swiper', {
            loop: true,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });
    </script>
    <div class="info-item"><span class="label">Адрес:</span> <span class="value">{{ accommodation.address }}</span></div>
    <div class="info-item"><span class="label">Цена:</span> <span class="value">{{ accommodation.cost }} / ночь</span></div>
    <div class="info-item"><span class="label">Описание:</span> <span class="value">{{ accommodation.description }}</span></div>
    <div class="info-item"><span class="label">Дата подачи объявления:</span> <span class="value">{{ date }}</span></div>
    <div class="info-item"><span class="label">Рейтинг:</span> <span class="stars">{{ rating }}</span></div>
    <div class="info-item"><span class="label">Владелец:</span> <span class="value"><a href="/user_profile/{{ accommodation.owner.id }}">Профиль владельца</a></span></div>
    {% if show_rate and accommodation.owner.id != current_user.id %}
         <div class="info-item rating-container">
        <span class="label">Поставить оценку:</span>
        <form method="POST" action="rate/{{ accommodation.id }}">
            <input
                type="range"
                name="rating"
                min="1"
                max="5"
                step="0.5"
                value="3"
                oninput="this.nextElementSibling.textContent = this.value">
            <span class="rating-value">3</span>
            <br>
            <button type="submit" class="btn btn-sm btn-outline-secondary">Оценить</button>
        </form>
    </div>
    {% endif %}
    {% if current_user.is_authenticated and accommodation.owner.id != current_user.id%}
    <a class="btn btn-warning" href="/rent/{{ accommodation.id }}">Арендовать</a>
    {% endif %}
</div>
{% endblock %}
