{% extends 'base.html' %}

{% block title %}Объявление{% endblock %}

{% block body %}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/accommodation.css') }}">

</head>
<div class="container">
    <h2>{{ accommodation.name }}</h2>
    <img src="{{ url_for('static', filename=accommodation.photo_path) }}"
                                 class="card-img-top img-fluid"
                                 alt="{{ accommodation.name }}"
                                 style="height: 200px; object-fit: cover;">
    <div class="info-item"><span class="label">Адрес:</span> <span class="value">{{ accommodation.address }}</span></div>
    <div class="info-item"><span class="label">Цена:</span> <span class="value">{{ accommodation.cost }}</span></div>
    <div class="info-item"><span class="label">Описание:</span> <span class="value">{{ accommodation.description }}</span></div>
    <div class="info-item"><span class="label">Дата подачи объявления:</span> <span class="value">{{ date }}</span></div>
    <div class="info-item"><span class="label">Рейтинг:</span> <span class="stars">{{ rating }}</span></div>
    <div class="info-item"><span class="label">Владелец:</span> <span class="value"><a href="/user_profile/{{ accommodation.owner.id }}">Профиль владельца</a></span></div>
    {% if number %}
    <div class="info-item"><span class="label">Связаться с владельцем:</span> <span class="value">{{ accommodation.owner.phone_number }} / {{ accommodation.owner.email }}</span></div>
    {% else %}
    <div class="info-item"><span class="label">Связаться с владельцем:</span> <span class="value">{{ accommodation.owner.email }}</span></div>
    {% endif %}
</div>
{% endblock %}
