{% extends 'base.html' %}

{% block title%}
Главная страница
{% endblock %}

{% block body %}
<h1><center>Регистрация</center></h1>
<div class="container">
    <form action="" method="post" novalidate>
        {{ form.csrf_token }}
        {% for field in form if field.name != 'csrf_token' and field.name != 'submit'%}
            <div>{{ field.label }}</div>
            {{ field(type=field.name, class="form-control") }}
            <br>
        {% endfor %}
        {{ form.submit(type="submit", class="btn btn-primary") }}
    </form>
    {{ message }}
</div>
{% endblock %}